<%= labelled_field f.text_field( :name, :class => 'text page_title' ), "Page title", 
	:errors      => @page.errors[:name],
	:description => "This is the name of the page, and it will also be the name of the link to this page."
%>

<% @page.template_config.enabled_blocks do |block_name, block_options| %>
	<% if block_options[:size] == :field %>
		<%= labelled_field f.text_field(block_name, :class => 'text' ), block_options[:title], 
			:errors      => @page.errors[block_name],
			:description => block_options[:description]
		%>
	<% else %>
		<%= labelled_field f.text_area(block_name, :rows => (block_options[:size] == :large ? 15 : 5), :class => 'rich'), block_options[:title],
			:errors      => @page.errors[block_name],
			:description => block_options[:description]
		%>
	<% end %>
<% end %>

<div class="field">
	<label>Tags</label>
	<%= tag_editor_for f, @page %>
</div>
