<% @page.template_config.blocks.each do |attr, options| %>
  <%= page_block_field(f, attr, options) %>
<% end %>

<% if @page.template_config.value(:dates) %>
  <%= react_component("PageDates",
                      { starts_at: @page.starts_at,
                        ends_at: @page.ends_at,
                        all_day: @page.all_day }) %>
<% end %>

<% if !@page.new_record? && @page.template_config.tags? %>
  <div class="field">
    <label>
      Tags
    </label>
    <%= tag_editor_for(f, @page) %>
  </div>
<% end %>
