<%= react_component(
  "PageContent",
  { locale: @locale,
    locales: locales_with_dir,
    page: Admin::PageResource.new(@page),
    templates: PagesCore::Templates.all.map { |t| Admin::TemplateConfigurationResource.new(t) } }) %>

<% if @page.template_config.value(:tags) %>
  <div class="field">
    <label>
      Tags
    </label>
    <%= tag_editor_for(f, @page) %>
  </div>
<% end %>
