<%
	@page_title = "Add language"
-%>

<h2>Common languages</h2>

<%= form_tag :id => @page %>
	<p>
		<%= select_tag "language", options_for_select( @application_languages ) %>
		<%= submit_tag "Add", :class => :button %>
	</p>
</form>

<h2>All languages</h2>

<%= form_tag :id => @page %>
	<p>
		<%= select_tag "language", options_for_select( @all_languages ) %>
		<%= submit_tag "Add", :class => :button %>
	</p>
</form>