<div class="titleBar">Preview</div>
<h1><%= @page.name %></h1>
<% if @page.image %>
  <%= dynamic_image_tag @page.image, :size => '300x200', :crop => false, :class => :postimage %>
<% end %>
<%= @page.body.to_html %>

<p>
  <%= button_to_function 'Close', 'hidePreview()' %>
</p>
