.page_images .image {
	float:left;
	cursor:pointer;
	line-height:1px;
	margin-left:20px;
	margin-bottom:20px;
}
.page_images .image.primary {
	margin-left:0;
}
.page_images .image:hover, .page_images .image.selected {
	-webkit-transition:all .2s ease-in;
	outline:solid 5px hsl(198,67%,35%);
	outline-offset:1px;
}
.page_images .images {
	margin-left:240px;
}

.page_images .editor {
	line-height:1px;
	margin-bottom:40px;
	background-image:url(../../images/admin/image-editor-bg.png);
	box-shadow:0px 2px 15px hsla(0,0%,0%,0.35);
}
.page_images .editor .controls {
	padding:10px;
	background-color:hsl(0,0%,0%);
	color:#fff;
	line-height:1.4em;
}
.page_images .controls .nav a {
	margin-left:5px;
	color:hsl(198,37%,65%);
}
.page_images .editor img {
	margin:20px;
}
.page_images .controls .nav {
	float:right;
}
.page_images .controls input[type="text"] {
	width:180px;
	margin-right:5px;
}
.page_images .editor h4 {
	margin:0;
	margin-right:10px;
	display:inline;
}