.drag-handle {
  cursor: pointer;
  float: left;
  vertical-align: middle;
  margin-top: 5px;
  margin-left: 6px;
  width: 13px;
  height: 16px;
  background-image: image-url("pages/admin/drag-icon.png");
}

td.drag-handle {
  float: none;
  background-repeat: no-repeat;
  background-position: right 0px top 50%;
}

.page-list {
  float: left;
  list-style-type:  none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  margin-left: -8px;
  margin-top: 16px;

  .page-listing {
    border: 1px solid transparent;
    padding: 3px 8px 2px 8px !important;
  }

  ul {
    border-left: 1px dotted #ccc !important;
    margin-left: 12px !important;
    padding-left: 8px !important
  }

  ul li {
    overflow: auto;
  }

  .page {
    padding: 4px 8px;
    line-height: 17px;
    float: left;

    .status {
      font-weight: normal;
    }

    a.page-name,
    a.page-name:visited {
      text-decoration: none;
      color: #222;
    }
    a.page-name:hover {
      text-decoration: underline;
    }

    &.hidden {
      a.page-name {
        color: #666;
      }
    }

    &:hover {
      background: #ffd;
      border: 1px solid #dda;
      .status {
        display: none;
      }
    }
  }

  .page-without-locale {
    color: #888;
  }

  li {
    font-weight:  bold;
    margin:  0;
    padding: 0;
    clear: both;
  }

  li li {
    font-weight: normal;
    font-size:  12px;
    padding: 0;
  }

  ul {
    clear: both;
    list-style-type:  none;
    border-left:  1px dashed #ccc;
    margin:  0 0 0px 12px;
    padding: 0 0 0 12px;
  }

  .hover {
    background: #cef;
  }

  .drag-handle {
    display: none;
  }

  &.reorder .drag-handle {
    display: block;
  }
}

.news-item-list,
.calendar-item-list {
  .name {
    line-height: 1.5;
    small {
      font-weight: normal;
    }
  }

  .draft,
  .hidden,
  .autopublish,
  .reviewed {
    background: $c-background-disabled;
  }

  .pinned .name {
    background: transparent image-url("pages/admin/list-table-pin-blue.gif") no-repeat 13px 50%;
  }
}

.edit-page {
  width: auto;

  main div.content {
    padding-top: 16px;
  }

  .hidden-options {
    display: none;
  }

  .autopublish-notice,
  .published-date,
  .advanced-options {
    display: none;
    &.show {
      display: block;
    }
  }

  main input[type=text],
  main textarea {
    width: 100%;
    max-width: 100%;
  }

  main input.page_title {
    font-weight: bold;
    font-size: 1.4em;
    color: $c-text;
  }
}


.file-list {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  .embed-code {
    display: inline-block;
    width: 60px;
    margin-right: 10px;
  }
  li {
    line-height: 30px;
    border-top: 1px solid $c-border;
    &:first-child {
      border-top: 0px;
    }
    .actions {
      float: right;
    }
    .drag-handle {
      margin-right: 10px;
    }
  }
  .placeholder {
    height: 30px;
  }
  .ui-sortable-helper {
    border: 1px solid $c-border !important;
    background: rgba(250, 250, 250, 0.8);
  }
}
