.drag-handle {
  cursor: pointer;
  float: left;
  vertical-align: middle;
  margin-top: 5px;
  margin-left: 6px;
  width: 13px;
  height: 16px;
  background-image: image-url("pages/admin/drag-icon.png");
}

.news-item-list {
  .name {
    line-height: 1.5;
  }

  .name .name_link {
    font-weight: bold;
  }

  .draft,
  .hidden,
  .autopublish,
  .reviewed {
    background: $c-background-disabled;
  }

  .pinned .name {
    background: transparent image-url("pages/admin/list-table-pin-blue.gif") no-repeat 13px 50%;
  }

  .draft .name,
  .hidden .name,
  .autopublish .name,
  .autopublish .reviewed {
    background: transparent image-url("pages/admin/list-table-pin-disabled.gif") no-repeat 13px 50%;
  }
}

.edit-page {
  padding-top: 1px;
  width: auto;

  .hidden-options {
    display: none;
  }

  .advanced-options {
    visibility: none;
  }

  main & input[type=text],
  main & textarea {
    width: 100%;
    max-width: 100%;
  }

  main & input#page_name {
    font-weight: bold;
    font-size: 1.4em;
    color: $c-text;
  }
}


.file-list {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  .embed-code {
    display: inline-block;
    width: 60px;
    margin-right: 10px;
  }
  li {
    line-height: 30px;
    border-top: 1px solid $c-border;
    &:first-child {
      border-top: 0px;
    }
    .actions {
      float: right;
    }
    .drag-handle {
      margin-right: 10px;
    }
  }
  .placeholder {
    height: 30px;
  }
  .ui-sortable-helper {
    border: 1px solid $c-border !important;
    background: rgba(250, 250, 250, 0.8);
  }
}
