coverage/
*.gem
.bundle
dependency-graph.svg
node_modules/
pkg/*
doc/*
tmp/*
spec/internal/config/test.sphinx.conf
spec/internal/db/sphinx
spec/internal/log/*.pid
spec/internal/tmp/*
spec/internal/db/binary-objects
# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
