<% 
	page_title "Your account details"
	page_description "You are editing your account details"
%>

<% form_for 'account', @account, :url => admin_account_path( @account ), :html => { :method => :put } do |f| -%>
	<%= labelled_field f.text_field( :name, :rows => 5 ), "Site name", 
		:errors => @account.errors[:name] 
	%>
	<%= labelled_field f.select( :account_holder_id, User.admin_users.collect {|u| [ u.realname, u.id ] } ), "Account holder", 
		:errors => @account.errors[:account_holder_id] 
	%>
	<%= labelled_field f.text_area( :billing_address, :rows => 5 ), "Billing address", 
		:errors => @account.errors[:billing_address] 
	%>
	<p>
		<button type="submit">Save changes</button>
	</p>
<% end -%>
