/*
 *= require "pages/jquery-smoothness/ui.all.css"
 *= require "pages/admin/buttons"
 *= require "pages/admin/controllers/pages.css"
 *= require "pages/admin/editable_image.css"
 *= require "pages/admin/forms.css"
 *= require "pages/admin/header.css"
 *= require "pages/admin/images.css"
 *= require "pages/admin/lightbox.css"
 *= require "pages/admin/links.css"
 *= require "pages/admin/list_table.css"
 *= require "pages/admin/login.css"
 *= require "pages/admin/modal.css"
 *= require "pages/admin/sidebar.css"
 *= require "pages/admin/sortable_images.css"
 *= require "pages/admin/tag_editor.css"
 *= require "pages/admin/textarea.css"
 *= require_self
 */



body {
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}
body html {
	min-height: 100%;
}

#main {
	background: #fff;
	padding: 0;
	padding-bottom: 64px;
	color: #222;
}

#page-description {
	margin: 0;
	padding: 16px 32px;
	display: block;
	background: #e7f3f9 url(/assets/pages/admin/description-bg.gif) repeat-x;
	border-bottom: 1px solid #d4eaf4;
	color: #000;
}

.msie7 #page-description.with_content_tabs {
	height: 44px;
}

#page-description em {
	font-style: normal;
	color: #4a5357;
}
#main #page-description h3 {
	margin: 0;
	padding: 0;
	font-size: 13px;
	text-shadow: #E9F6FF 1px 1px 1px;
}
#page-description .links {
	float: right;
}
#page-description .separator {
	color:           #779CB3;
	margin:          0 4px;
}





body, td, th {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 16px 0;
}


img {
	border: 0;
}

small {
	font-size: 0.9em;
	color: #666;
}


th {
	text-align: left;
}


.hr {
	border-top: 1px solid #aaa;
}
.hr hr {
	display: none;
}

div#content {
	margin-right: 332px;
}

div.content {
	margin: 0 32px;
}

table.show th, td {
	font-weight: normal;
	padding: 2px 16px 2px 0;
}


#flash-error, #flash-notice {
	padding: 16px 32px;
	font-size: 12px;
}

#flash-error {
	background: #c00007 url(/assets/pages/admin/flash-error-bg.gif) repeat-x;
	border-bottom: 1px solid #9c0002;
	color: #fff299;
	font-weight: bold;
}
#flash-notice {
	background: #f5f3bc;
	border-bottom: 1px solid #dad88a;
	color: #3d3b00;
	font-weight: normal;
}





div.taskbar {
	background: #ddd;
	border-bottom: 1px solid #ccc;
	padding: 8px 32px;
}

div.taskbar:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

div.taskbar {display: inline-table;}

/* Hides from IE5/Mac \*/
* html div.taskbark {height: 1px;}
div.taskbar {display: block;}
/* End hide from IE5/Mac */


div.taskbar h2 {
	font-size: 1.1em;
	color: #444;
	border: 0;
	margin: 8px 0;
}
div.taskbar p {
	margin: 8px 0;
}
div.taskbar div.taskbar-group {
	margin-right: 32px;
	float: left;
}


.sidebar {
	font-family: Helvetica, Arial, sans-serif;
	width: 280px;
	background: #F7F0DA;
	float: right;
	margin: -32px -32px 0 32px;
	padding: 16px;
	padding-top: 0px;
	font-size: 0.95em;
	line-height: 1.3;
	border-left: 1px solid #CBD2B6;
	border-bottom: 1px solid #CBD2B6;
}
* html .sidebar {
	width: 312px;
}
.sidebar h2 {
	font-size: 1.2em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #fff;
	background: #4D4745;
	margin: 0 -16px 1em -16px;
	padding: 8px 16px;
}

.sidebar .hr {
	border-bottom: 1px solid #F5F6F0;
	border-top: 1px solid #D7DCBD;
	margin: 16px -8px;
}

.sidebar .box {
	margin-bottom: 2em;
}

.sidebar ul {
	padding: 0;
	list-style: square inside;
}
.sidebar li {
	color: #313429;
}
.sidebar li.inactive {
	color: #998;
}
.sidebar li.current {
	font-weight: bold;
}
.sidebar .button {
	font-size: 0.95em;
}

.sidebar ul.boxed li.current {
	background: #EDE6CF;
}
.sidebar ul.boxed li {
	padding: 1px 8px;
	margin-bottom: 1px;
}



.summary {
	margin-top: 32px;
	font-size: 1.5em;
	font-weight: bold;
	color: #666;
}

.errorExplanation {
	background-color: #ffd;
	border-bottom:  1px solid #dda;
	margin: -32px -32px 16px -32px;
	padding: 0px 32px;
	color: #333;
}

.errorExplanation h2 {
	font-weight: normal;
	font-size: 1.4em;
	margin: 0 -32px 16px -32px;
	padding:  8px 32px;
	background-color: #a00;
  color: #fff;
}

.errorExplanation p {
  margin-bottom: 0;
  padding: 0;
}
.errorExplanation ul {
	padding:  0;
	list-style-position: inside;
}
.errorExplanation ul li {
	font-weight:  bold;
}


.flash {
	background:  #fffbdf;
	border-bottom:  1px solid #ccc9b2;
	margin:  -32px -32px 32px -32px;
	padding: 16px 32px;
	font-weight:  bold;
	color:  #6f2d1b;
	font-size:  1.2em;
}


div.paginator {
	margin: 32px 0;
	font-size: 1.5em;
	font-weight: bold;
	color: #666;
}

img.thumbnail {
	border: 1px solid #555;
}




.formtable {
	width: 100%;
	margin-top: -16px;
	margin-right: 322px;
}
.formtable td {
	vertical-align: top;
	padding: 0 8px 8px 0;
}

.formtable label {
	display: block;
	margin-top: 4px;
}
.formtable input, .formtable textarea {
	width: 100%;
}
.formtable .title input {
	font-size: 1.3em;
}




ul.pagelist {
	list-style-type:  none;
	padding:  0; margin:  0;
	font-size: 1.2em;
	margin-left: -8px;
	margin-top: 16px;
}
ul.pagelist li {
	font-weight:  bold;
	margin:  0;
	padding: 0;
	clear: both;
}
ul.pagelist li li {
	font-weight: normal;
	font-size:  12px;
	padding: 0;
}
ul.pagelist ul {
	clear: both;
	list-style-type:  none;
	border-left:  1px dashed #ccc;
	margin:  0 0 0px 12px;
	padding: 0 0 0 12px;
}
ul.pagelist .page {
	padding: 4px 8px;
	height: 17px;
	float: left;
}
ul.pagelist .page_without_language {
	color: #888;
}
ul.pagelist .hover {
	background: #cef;
}

#songlist {
	list-style-position: inside;
	padding: 0 12px;
}
#songlist li {
	float: left;
	clear: both;
}
#songlist li.hover {
	background: #cef;
}

li .actions {
	font-weight: normal;
	display:  inline;
	font-size: 12px;
	color: #aaa;
	margin-top: 1px;
}




.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE5/Mac \*/
* html .clearfix {height: 1px;}
.clearfix {display: block;}
/* End hide from IE5/Mac */



