@import 'jquery-ui';
@import 'jquery.Jcrop';
@import 'ReactCrop';
@import 'font-awesome';
@import 'admin/vars';
@import 'admin/mixins/**/*';
@import 'admin/components/**/*';
@import 'admin/controllers/**/*';

body {
  background: $c-background;
  color: $c-text;
}

body, td, th {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 16px 0;
}

img {
  border: 0;
}

small {
  font-size: 0.9em;
  color: $c-text-light;
}

th {
  text-align: left;
}

.hr {
  border-top: 1px solid $c-border;
  hr {
    display: none;
  }
}

div.content {
  margin: 0 32px;
}

table.show th,
td {
  font-weight: normal;
  padding: 2px 16px 2px 0;
}

#flash-error,
#flash-notice {
  padding: 16px 32px;
  font-size: 12px;
}

#flash-error {
  @include vertical-gradient(#970002, $c-red);
  border-bottom: 1px solid #9c0002;
  color: #fff299;
  font-weight: bold;
}

#flash-notice {
  background: #f5f3bc;
  border-bottom: 1px solid #dad88a;
  color: #3d3b00;
  font-weight: normal;
}

.errorExplanation {
  background-color: #ffd;
  border-bottom:  1px solid #dda;
  margin: -32px -32px 16px -32px;
  padding: 0px 32px;
  color: #333;

  h2 {
    font-weight: normal;
    font-size: 1.4em;
    margin: 0 -32px 16px -32px;
    padding:  8px 32px;
    background-color: $c-red;
    color: #fff;
  }

  p {
    margin-bottom: 0;
    padding: 0;
  }

  ul {
    padding:  0;
    list-style-position: inside;
  }

  ul li {
    font-weight:  bold;
  }
}

.flash {
  background: #fffbdf;
  border-bottom: 1px solid #ccc9b2;
  margin: -32px -32px 32px -32px;
  padding: 16px 32px;
  font-weight: bold;
  color: #6f2d1b;
  font-size: 1.2em;
}

div.paginator {
  margin: 32px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: $c-text-light;
}

img.thumbnail {
  border: 1px solid #555;
}

li .actions {
  font-weight: normal;
  display:  inline;
  font-size: 12px;
  color: $c-text-light;
  margin-top: 1px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}
