<% content_for :page_title, "Two-factor authentication" %>
<% content_for :page_description, "Two-factor authentication" %>

<%= form_tag(verify_otp_admin_session_path, method: :post) do |f| %>
  <%= hidden_field_tag :signed_user_id, @signed_user_id %>
  <%= render(partial: "admin/sessions/otp_form") %>

  <p>
    <button type="submit">
      Verify
    </button>
  </p>

  <p>
    Lost your authenticator device?
    <%= link_to("Recover your account here",
                new_admin_account_recovery_path) %>.
  </p>
<% end %>
