EditableImage = (link, options) ->

  # Default options
  settings = $.extend(
    resourceURL: link.href
    width: 800
  , options)

  @editableImage =
    settings: settings
    link: link
    linkedImage: $(link).children("img")[0]
    resourceURL: settings.resourceURL
    editorDialog: false
    imageData: false
    previewURL: false
    cropStartX: false
    cropStartY: false
    cropWidth: false
    cropHeight: false

    getScale: ->
      @settings.width / @imageData.real_width

    openEditor: ->
      # Dim the screen and create the loading dialog
      $.dimScreen 200, 0.90

      $("body").append("<div id=\"modalLoadingNotice\"><img src=\"<%= image_path('pages/admin/loading-modal.gif') %>\" /> Loading image editor&hellip;</div>")
      $("#modalLoadingNotice").centerOnScreen().hide().fadeIn 200

      # Create the container
      $("#editableImageEditor").remove()
      $("body").append "<div id=\"editableImageEditor\" class=\"modalWindow\"></div>"

      # Load data
      binding = this
      unless @imageData
        $.getJSON @resourceURL + ".js", (json) ->
          binding.imageData = json
          binding.populateEditor()

      else
        @populateEditor()

    populateEditor: ->
      $("#editableImageEditor")
        .empty()
        .append("<img id=\"editableImageEditorImage\" />")
        .append("<div id=\"editableImageEditorControls\" class=\"controls\" />")
        .hide()

      $("#editableImageEditorControls")
        .append("<input type=\"button\" id=\"editableImageEditorSubmit\" value=\"Save\" />")
        .append "<input type=\"button\" id=\"editableImageEditorClose\" value=\"Cancel\" />"

      @previewURL = $(link).data('preview-url')
      binding = this

      $("#editableImageEditorImage").each ->
        @src = binding.previewURL

      $("#editableImageEditorSubmit").click ->
        binding.submit()

      $("#editableImageEditorClose").click ->
        binding.closeEditor()

      onCrop = (coords) ->
        binding.cropStartX = coords.x
        binding.cropStartY = coords.y
        binding.cropWidth = coords.w
        binding.cropHeight = coords.h

      $("#editableImageEditorImage").load ->
        $("#modalLoadingNotice").fadeOut 100
        $("#editableImageEditor").show().centerOnScreen()
        jCropOptions =
          onChange: onCrop
          onSelect: onCrop

        imageData = binding.imageData
        crop_start_x = Math.round(imageData.crop_start_x * binding.getScale())
        crop_start_y = Math.round(imageData.crop_start_y * binding.getScale())

        if imageData.crop_width && imageData.crop_height
          crop_end_x = crop_start_x + Math.round(imageData.crop_width * binding.getScale())
          crop_end_y = crop_start_y + Math.round(imageData.crop_height * binding.getScale())
        else
          crop_end_x = Math.round(imageData.real_width * binding.getScale())
          crop_end_y = Math.round(imageData.real_height * binding.getScale())

        jCropOptions["setSelect"] = [crop_start_x, crop_start_y, crop_end_x, crop_end_y]

        $("#editableImageEditorImage").Jcrop jCropOptions


    closeEditor: ->
      $("#modalLoadingNotice").remove()
      $("#editableImageEditor").remove()
      @imageData = false
      $.dimScreenStop()

    submit: ->
      put_options =
        "image[crop_start_x]": Math.floor(@cropStartX / @getScale())
        "image[crop_start_y]": Math.floor(@cropStartY / @getScale())
        "image[crop_width]":   Math.floor(@cropWidth / @getScale())
        "image[crop_height]":  Math.floor(@cropHeight / @getScale())
      binding = this
      $.put @resourceURL + ".json", put_options, (json) ->
        binding.closeEditor()



  # Apply onClick behaviour
  link.editableImage = @editableImage
  $(link).click ->
    @editableImage.openEditor()
    false

$ -> $("a.editableImage").each -> new EditableImage(this)