form.button-to {
  display: inline;
  margin: 0;
  padding: 0;
}

// button, a.button {
//   display: inline-block;
//   background: #fff;
//   color: $c-text-light;
//   line-height: 34px;
//   border: 1px solid $c-border;
//   padding: 0px 30px;
//   border-radius: 5px;
//   cursor: pointer;
//   text-decoration: none;
//   font-size: 14px;

//   &[type=submit] {
//     border-color: $c-text-light;
//     color: $c-text;
//   }
// }
