#modalLoadingNotice {
  background: #040404;
  color: #333;
  padding: 40px;
  width: 300px;
  text-align: center;
}

#modalLoadingNotice img {
  margin: 0 6px -4px -3px;
}

.modalWindow {
  background: #040404;
  padding: 10px;
}

.modalWindow .controls {
  margin-top: 10px;
}
