#modalLoadingNotice {
  background: #040404;
  color: #333;
  padding: 40px;
  width: 300px;
  text-align: center;
  img {
    margin: 0 6px -4px -3px;
  }
}

.modal-window {
  background: #040404;
  padding: 10px;
  .controls {
    margin-top: 10px;
  }
}
