main form {
  margin: 16px 32px;
}

form {
  .field {
    margin: 16px 0;
    padding: 0;

    label {
      display: block;
      padding: 0;
      margin: 0 0 4px 0;
      font-weight: bold;
      font-size: 13px;
      color: $c-text;

      &.check-box, &.radio-button {
        font-weight: normal;
      }
      &.radio-button {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .description {
      color: $c-text-light;
      margin: 0 0 6px 0;
    }
  }

  .field-with-errors {
    background: $c-red-invert;
    border-top: 1px solid mix($c-red-invert, $c-red, 90%);
    border-bottom: 1px solid mix($c-red-invert, $c-red, 90%);
    margin: 0 -32px -1px -32px;
    padding: 12px 32px 16px 32px;

    label {
      color: $c-red;
    }
  }

  .date-range-select {
    .date {
      line-height: 34px;
      display: inline-block;
      white-space: nowrap;
      .date-select {
        display: inline-block;
      }
      input[type=text] {
        display: inline;
        width: auto;
        min-width: auto;
        margin-left: 12px;
        padding: 4px 6px;
      }
    }
    .to {
      margin: 0px 8px;
    }
  }

  .page-dates {
    margin-bottom: 40px;
    .toggles {
      label {
        font-weight: normal;
        display: inline-block;
        margin-right: 12px;
        input {
          margin-right: 6px;
        }
        &.disabled {
          color: $c-text-light;
        }
      }
    }
    .remove-dates {
      margin-top: 12px;
    }
  }
}

.fieldWithErrors {
  display: table;
  padding: 1px;
  padding-right: 22px;
  background: transparent image-url("pages/admin/warning-icon.gif") right 5px no-repeat;
}

input[type=text],
input[type=password],
textarea {
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  border: 1px solid $c-border;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.03);
  padding: 8px 10px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  &:disabled {
    border-color: $c-border-light;
    color: $c-text-light;
  }
}

input[type=text],
input[type=password] {
  &.large,
  main .login-form & {
    font-size: 1.4em;
  }
}

fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid $c-border;
}
