#header {
  display: block;
  background: #000;
  height: 82px;
  clear: both;
  color: #ddd;
  font-size: 11px;
  text-shadow: 0 0 0 #000;
  -moz-opacity: 0.9999;
  border-bottom: 1px solid #555;

  a,
  a:visited {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    color: #fff;
  }

  #logo {
    position: absolute;
    z-index: 2;
    top: 11px;
    left: 16px;
    width: 21px;
    height: 27px;
  }

  #site-name {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 52px;
    h1 {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      display: inline;
      font-size: 20px;
      font-weight: normal;
      a {
        font-weight: bold;
        text-decoration: none;
        padding-right: 6px;
      }
    }
  }

  .user {
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 16px;
    .separator {
      color: #777;
      margin: 0 4px;
    }
  }

  .tabs {
    position: absolute;
    top: 54px;
    height: 29px;
    left: 16px;
    right: 8px;

    ul {
      padding: 0;
      margin: 0 8px 0 0;
      list-style-type: none;
      display: block;
      float: left;
      &.account {
        float: right;
      }
    }

    li {
      display: inline;
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-size: 12px;
    }

    a,
    a:visited {
      background: #484848;
      border-left: 1px solid #383838;
      border-right: 1px solid #383838;
      color: #fff;
      text-shadow: #404040 1px 1px 1px;
      display: block;
      float: left;
      padding: 0 15px;
      padding-top: 8px;
      height: 21px;
      margin: 0 2px 0 0;
      text-decoration: none;
    }

    a:hover,
    a.current,
    a.current:visited {
      @include vertical-gradient(#cfcfcf, #fefefe);
      border-left: 1px solid #fefefe;
      border-right: 1px solid #fefefe;
      color: #000;
      text-shadow: #fff 1px 1px 1px;
    }
  }
}

#content-tabs {
  list-style-type: none;
  margin: 24px 0px -11px -18px;
  padding: 0;

  li {
    color: hsla(0,0%,0%,0.25);
    display: inline;
    background: transparent;
    padding: 6px 17px;
    font-weight: bold;
  }

  li.current {
    background: #fff;
    padding: 5px 16px;
    border: 1px solid #cae6f1;
    border-bottom: 1px solid #fff;
    a,
    a:visited {
      text-decoration: none;
      color: #444;
    }
  }
}
