.image-editor {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;

  .toolbar {
    padding-bottom: 20px;
    a {
      margin: 0px 5px;
      &.current {
        color: $c-text;
        text-decoration: none;
      }
    }
  }

  .image-container {
    flex: 1 1 auto;
    width: 100%;
    background: #ddd;
    background-image: image-url("pages/admin/image-editor-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-wrapper {
      position: relative;
      flex: 0;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      .ReactCrop {
        width: 100%;
      }
    }

    .loading {
      color: $c-text-light;
    }
  }

  form {
    display: block;
    padding-top: 20px;
  }
}
