a,
a:visited {
  color: $c-link;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: $c-link;
}

a.create,
a.create:visited {
  color: $c-create;
}

a.create:hover,
a.create:focus {
  color: $c-create-hover;
}

a.cancel,
a.cancel:visited {
  color: $c-delete;
}

a.cancel:hover {
  color: $c-delete-hover;
}

a.delete, a.delete:visited {
  color: $c-delete;
}

a.delete:hover {
  color: $c-delete-hover;
}

button a {
  padding:5px 0;
  color: $c-text !important;
  text-decoration:none;
}
