table.list {
  border-collapse: collapse;
  margin: 16px 0;
  width: 100%;

  td,
  th {
    padding: 8px 16px;
    text-align: left;
    vertical-align: top;
  }

  th {
    @include vertical-gradient($c-background, $c-background-disabled);
    color: $c-text-light;
    font-weight: bold;
    border-bottom: 1px solid $c-border;
  }

  td {
    border-bottom: 1px solid $c-border;
    &.note {
      color: $c-text-light;
    }
    &.name {
      font-weight: bold;
    }
  }

  tr td:first-child,
  tr th:first-child {
    padding-left: 32px;
  }
  tr td:last-child,
  tr th:last-child {
    padding-right: 32px;
  }

  tr.disabled td  {
    opacity: 0.5;
  }

  tr.disabled td:first-child  {
    background: transparent image-url("pages/admin/list-table-pin-disabled.gif") 14px center no-repeat;
  }

  tr.active td:first-child  {
    background: transparent image-url("pages/admin/list-table-pin-blue.gif") 14px center no-repeat;
  }

  .actions {
    float: right;
    margin-bottom: 2px;
    margin-left: 16px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}
