body > .wrapper {
  transition: filter 200ms ease-out;
}

body.modal {
  > .wrapper {
    filter: blur(2px);
    @include breakpoint-mobile {
      filter: none;
    }
  }
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.0);
  opacity: 0;
  transition: background-color 200ms ease-out;

  &.open {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    opacity: 1;
  }

  .modal {
    max-width: 90%;
    background: $c-background;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);

    @include breakpoint-mobile {
      max-width: 100%;
      width: 100vw;
      height: 100vh;
      border-radius: 0px;
    }
  }
}



/* Old rules */

#modal-container {
  z-index:20;
  border: 1px solid #555;
  position: absolute;
  background: #f8f8f8;
  padding:20px;
  padding-top: 10px;
}

#modal-container h2 {
  padding: 0 0 8px 0;
  color: #27495e;
  font-size: 1.45em;
  border-bottom: 1px solid #e0e0e0;
}
