.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  &.open {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
  }

  .modal {
    max-width: 80%;
    background: $c-background;
    padding: 20px;
    border: 1px solid $c-border;
  }
}



/* Old rules */

#modal-container {
  z-index:20;
  border: 1px solid #555;
  position: absolute;
  background: #f8f8f8;
  padding:20px;
  padding-top: 10px;
}

#modal-container h2 {
  padding: 0 0 8px 0;
  color: #27495e;
  font-size: 1.45em;
  border-bottom: 1px solid #e0e0e0;
}
