.page-tree {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  > ul {
    margin-top: 30px;
  }

  ul ul {
    margin-left: 30px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
  }

  .page {
    font-size: 15px;
    padding: 4px 10px;
    border: 1px solid transparent;
    &:hover {
      background: #f8f8f8;
      border: 1px solid #ddd;
    }

    a,
    a:visited {
      color: #111;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }
}
