%no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-tree {
  @extend %no-select;
  position: relative;
  overflow: hidden;

  margin: 30px 0px;

  .draggable {
    @extend %no-select;
    position: absolute;
    opacity: 0.8;
  }

  .node {
    &.placeholder > * {
      visibility: hidden;
    }

    &.placeholder {
      border: 1px dashed #ccc;
    }

    .inner {
      position: relative;
      cursor: pointer;
      padding-left: 10px;
    }

    .collapse {
      position: absolute;
      left: 0;
      cursor: pointer;
      font-size: 15px;
      padding-top: 5px;
    }
  }

  .page {
    font-size: 15px;
    padding: 4px 10px;
    border: 1px solid transparent;

    .name {
      font-weight: bold;
    }

    .icon {
      margin-right: 8px;
    }

    .status-label,
    .collapsed-label {
      margin-left: 3px;
      font-size: 12px;
    }

    a,
    a:visited {
      color: #111;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
    }

    &.status-0,
    &.status-1,
    &.status-3 {
      &,
      a,
      a:visited {
        color: #777;
      }
    }
  }

  .node .node .node .page .name {
    font-weight: normal;
  }
}
