%no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-tree {
  @extend %no-select;
  position: relative;
  overflow: hidden;

  margin: 20px 0 40px 0;
  margin-left: -20px;
  margin-right: -10px;

  .draggable {
    @extend %no-select;
    position: absolute;
    opacity: 0.8;
  }

  .node {
    &.placeholder > * {
      visibility: hidden;
    }

    &.placeholder {
      border: 1px dashed $c-border;
    }

    .inner {
      position: relative;
      cursor: pointer;
      padding-left: 10px;
    }

    .collapse {
      position: absolute;
      left: 0;
      cursor: pointer;
      font-size: 15px;
      padding-top: 5px;
    }
  }

  .page {
    @extend %clearfix;
    font-size: 15px;
    padding: 6px 10px;
    border: 1px solid transparent;
    //border-radius: 5px;

    &:hover {
      border: 1px solid $c-border-light;
      @include vertical-gradient($c-background, $c-background-disabled);
    }

    .date {
      font-size: 12px;
      margin-left: 10px;
      color: $c-text-light;
    }

    .name {
      font-weight: bold;
    }

    .icon {
      margin-right: 8px;
    }

    .status-label,
    .collapsed-label {
      margin-left: 3px;
      font-size: 12px;
    }

    form {
      display: inline;
      margin: 0;
      padding: 0;
      input {
        font-size: 15px;
        padding: 2px 4px;

        margin-top: -2px;
        margin-bottom: -2px;
        margin-right: 5px;
      }
      button {
        margin-left: 5px;
      }
    }

    a,
    a:visited {
      color: $c-text;
      text-decoration: none;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
    }

    &.status-0,
    &.status-1,
    &.status-3 {
      &,
      a,
      a:visited {
        color: $c-text-light;
      }
    }
  }

  .page .actions {
    float: right;
    visibility: hidden;
    margin: -4px -6px -4px 5px;
    button {
      margin-left: 5px;
    }
  }
  .page:hover .actions {
    visibility: visible;
  }

  button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 3px;
    color: $c-link;

    .icon {
      margin-right: 8px;
    }

    &:hover,
    &:focus {
      color: $c-link-hover;
      background: transparentize($c-link, 0.75);
    }

    &.add {
      color: $c-create;

      &:hover,
      &:focus {
        color: $c-create-hover;
        background: transparentize($c-create, 0.75);
      }
    }

    &.delete,
    &.cancel {
      color: $c-delete;

      &:hover,
      &:focus {
        color: $c-delete-hover;
        background: transparentize($c-delete, 0.75);
      }
    }
  }

  button.add-inline {
    margin: 5px 0 5px 30px;
  }

  .node .node .node .page .name {
    font-weight: normal;
  }
}
