.pagination {
  margin: 30px 30px;
  line-height: 20px;
  font-size: 14px;

  .content & {
    margin: 20px -2px;
  }

  a,
  .current,
  .disabled, .gap {
    display: inline-block;
    font-style: normal;
    margin: 0px 1px;
    text-decoration: none;
    padding: 2px;
    border-radius: 12px;
    min-width: 24px;
    text-align: center;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }

  .current {
    //background: $c-blue;
    //color: $c-text-invert;
    font-weight: bold;
  }

  .disabled {
    color: $c-text-light;
  }

  .next,
  .previous {
    background: none;
  }

  .next {
    margin-left: 10px;
  }

  .previous {
    margin-right: 10px;
  }
}
