.pagination {
  line-height: 20px;

  a,
  .disabled,
  .current {
    display: inline-block;
    border: 1px solid $c-link;
    text-decoration: none;
    padding: 0px 5px;
    font-style: normal;
  }

  .disabled {
    border-color: #ccc;
  }

  .disabled,
  .gap {
    color: $c-text-light;
  }

  .current,
  a:hover,
  a:focus {
    background: $c-link;
    color: #fff;
  }
}
