.tag-editor {
  margin-top: 10px;
  margin-bottom: 1.5em;

  .tags {
    line-height: 1.5;
  }

  .tag {
    font-size: 13px;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    padding: 0px;
    background: $c-background-disabled;
    border-radius: 5px;
    line-height: 26px;
    line-height: 36px;
    min-width: 40px;
    transition: all 200ms ease-out;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    label {
      margin: 0px;
      padding: 0px 10px;
      color: inherit;
    }

    input {
      margin: 2px 3px 0 0;
    }

    .name {
      padding: 1px 5px;
      margin: 0;
    }

    &.enabled {
      color: #fff;
      background: $c-link;
      background: $c-blue-dark;
    }
  }

  .add-tag-form {
    float: left;
    width: 178px;
    white-space: nowrap;
  }

  input.add-tag {
    margin-top: 0px;
    border-radius: 5px;
    margin: 0 4px 0 0;

    &.example {
      color: $c-text-light;
    }
  }
}
