<% content_for :page_title, "New recovery codes" %>
<% content_for :page_description, "Generate new recovery codes" %>

<%= form_tag(admin_recovery_codes_path, method: :post) do |f| %>
  <%= render(partial: "admin/sessions/otp_form") %>
  <p>
    <button type="submit">
      Verify
    </button>
  </p>
<% end %>
