<%
  self.page_title = "Reset password"
  self.page_description = "Please choose a new password to proceed"
  add_body_class "login"
-%>

<div class="login-form">
  <%= form_for(@user,
               url: admin_password_reset_path(@password_reset_token, token: @password_reset_token.token),
               builder: PagesCore::Admin::FormBuilder,
               class: 'form') do |f| %>
    <%= f.labelled_password_field(:password,
                                  autocomplete: "new-password") %>
    <%= f.labelled_password_field(:confirm_password,
                                  autocomplete: "new-password") %>
    <p>
      <button type="submit">
        Change Password
      </button>
      or <%= link_to "Return to login screen", login_admin_users_path %>
    </p>
  <% end %>
</div>
