table.list {
	border-collapse: collapse;
	margin: 16px 0;
	width: 100%;
}

table.list td, table.list th {
	padding: 8px 16px;
	text-align: left;
	vertical-align: top;
}

table.list tr td:first-child, table.list tr th:first-child {
	padding-left: 32px;
}
table.list tr td:last-child, table.list tr th:last-child {
	padding-right: 32px;
}


table.list th {
	background: #fff url(/assets/pages/admin/list-table-td-bg.gif) right bottom repeat-x;
	color: #777;
	font-weight: bold;
	border-bottom: 1px solid #bdbdbd;
}

table.list td {
	border-bottom: 1px solid #ddd;
}

table.list td.note {
	color: #888;
}

table.list tr.disabled td  {
	opacity: 0.5;
}

table.list tr.disabled td:first-child  {
	background: transparent url(/assets/pages/admin/list-table-pin-disabled.gif) 14px center no-repeat;
}

table.list tr.active td:first-child  {
	background: transparent url(/assets/pages/admin/list-table-pin-blue.gif) 14px center no-repeat;
}

table.list .actions {
	float: right;
	margin-bottom: 2px;
	margin-left: 16px;
}

table.list p {
	margin: 0; padding: 0;
}