$breakpoint-mobile: 720px;

$c-link: #1d7195;
$c-link-hover: darken($c-link, 10%);
$c-create: #19AC1E;
$c-create-hover: darken($c-create, 10%);
$c-delete: #A21402;
$c-delete-hover: darken($c-delete, 10%);
