$breakpoint-mobile: 900px;

$c-red: #c00007;
$c-red-invert: #fff0f3;
$c-green: #19ac1e;
$c-blue: #1d7195;
$c-blue-dark: darken($c-blue, 15%);

$c-warn-light: #ffdfa0;

$c-background: #fff;
$c-background-invert: #000;
$c-background-disabled: #f8f8f8;

$c-text: #111;
$c-text-light: #666;
$c-text-lighter: #999;
$c-text-invert: #fff;

$c-border: #ddd;
$c-border-light: #eee;

$c-link: $c-blue;
$c-link-hover: darken($c-link, 10%);
$c-create: $c-green;
$c-create-hover: darken($c-create, 10%);
$c-delete: $c-red;
$c-delete-hover: darken($c-delete, 10%);

$c-button: #f6f6f6;
