body {
  background: var(--background-color);
  color: var(--text-color);
}

img {
  border: 0;
}

small {
  color: var(--text-light-color);
}

th {
  text-align: left;
}

.hr {
  border-top: 1px solid var(--border-color);

  & hr {
    display: none;
  }
}

div.content {
  margin: 1.5rem 2rem;
}

table.show th,
td {
  font-weight: normal;
  padding: 2px 16px 2px 0;
}

img.thumbnail {
  border: 1px solid #555;
}

li .actions {
  font-weight: normal;
  display: inline;
  color: var(--text-light-color);
  margin-top: 1px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}
