form.button-to {
  display: inline;
  margin: 0;
  padding: 0;
}

// button, a.button {
//   display: inline-block;
//   background: #fff;
//   color: var(--text-light-color);
//   line-height: 34px;
//   border: 1px solid var(--border-color);
//   padding: 0px 30px;
//   border-radius: 5px;
//   cursor: pointer;
//   text-decoration: none;
//   font-size: 14px;

//   &[type=submit] {
//     border-color: var(--text-light-color);
//     color: var(--text-color);
//   }
// }
