main form {
  margin: 1.5rem 2rem;
}

form {
  .field {
    margin: 1.5rem 0;
    padding: 0;
    @mixin child-margins;

    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea {
      transition: border-color 150ms ease-out;
    }

    label {
      display: block;
      padding: 0;
      margin: 0 0 4px 0;
      font-weight: var(--bold-weight);
      color: var(--text-color);
      transition: color 150ms ease-out;

      &.check-box,
      &.radio-button {
        font-weight: normal;
      }

      &.radio-button {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .description {
      display: block;
      color: var(--text-light-color);
      margin: 0 0 6px 0;
    }
  }

  .field-with-warning {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea {
      border-color: var(--red-light);
    }

    label {
      color: var(--red);
    }
  }

  .field-with-errors {
    background: var(--red-invert);
    border-top: 1px solid var(--red-light);
    border-bottom: 1px solid var(--red-light);
    margin: 0 -32px -1px -32px;
    padding: 12px 32px 16px 32px;

    label {
      color: var(--red);
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;

    .field {
      margin-right: 16px;

      &.text-field {
        flex-grow: 1;
        min-width: 300px;
      }
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      max-width: none;
    }
  }

  .date-range-select {
    .date {
      line-height: 34px;
      display: inline-block;
      white-space: nowrap;

      .date-select {
        display: inline-block;
      }

      input[type="text"] {
        display: inline;
        width: auto;
        min-width: auto;
        margin-left: 12px;
        padding: 4px 6px;
      }
    }

    .to {
      margin: 0px 8px;
    }
  }

  .page-dates {
    margin-bottom: 40px;

    .toggles {
      label {
        font-weight: normal;
        display: inline-block;
        margin-right: 12px;

        input {
          margin-right: 6px;
        }

        &.disabled {
          color: var(--text-light-color);
        }
      }
    }

    .remove-dates {
      margin-top: 12px;
    }
  }
}

.fieldWithErrors {
  display: table;
  padding: 1px;
  padding-right: 22px;
  background: transparent url("pages/admin/warning-icon.gif") right 5px
    no-repeat;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  border: 1px solid var(--border-color);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.03);
  padding: 0.5rem 0.75rem;

  &.tight {
    padding: 0.25rem 0.5rem;
  }

  &:disabled {
    border-color: var(--border-color-light);
    color: var(--text-light-color);
  }

  &.warn {
    border-color: red;
  }
}

fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

button,
select {
  appearance: none;
  cursor: inherit;
  font-family: var(--font-os-sans);
  font-size: 0.875rem;
  color: var(--text-color);
  line-height: 1.5;
  border: 1px solid var(--button-border-color);
  border-radius: 5px;
  padding: 0.25em 0.75em;
  background: var(--button-color);
  box-shadow: inset 0px 0.75em 0.75em rgba(255, 255, 255, 0.25);

  .icon {
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--button-color-hover);
  }

  &:disabled {
    color: var(--text-light-color);
    opacity: 0.8;

    &:hover {
      background-color: var(--button-color);
    }
  }

  &.primary {
    background: var(--text-color);
    border-color: var(--text-color);
    color: var(--text-invert-color);
    box-shadow: inset 0px 0.75em 0.75em rgba(255, 255, 255, 0.2);
    &:hover {
      box-shadow: inset 0px 0.75em 0.75em rgba(255, 255, 255, 0.1);
    }
  }

  &.transparent {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0.25rem 0.25rem;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

select {
  padding-right: 2em;
  background-image: url("pages/admin/angle-down-solid.svg");
  background-position: top 50% right 0.5em;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  margin-bottom: 0.25em;
}

form.button-to {
  display: inline;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.inline-form {
  display: flex;
  input {
    flex: 1 1 auto;
    border-right: none;
    &:focus {
      z-index: 20;
    }
  }
  button {
    border-radius: 0px;
    white-space: nowrap;
    border-right: none;
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid var(--button-border-color);
    }
  }
}
