main .login-form {
  padding-top: 10px;

  & label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1.2em;
    color: var(--text-color);
  }

  & ul {
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    list-style-position: inside;
    list-style-type: disc;
    color: var(--border-color);
    line-height: 1.5;

    & li {
      margin: 0px;
      padding: 0px;
      font-size: 1.2em;
    }
  }
}

.login-tab {
  &.hidden {
    display: none;
  }
}
