.tag-editor {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .tag {
    font-size: 1rem;
    cursor: pointer;
    padding: 0px;
    background: var(--background-disabled-color);
    border-radius: 5px;
    min-width: 40px;
    height: 2rem;
    transition: all 200ms ease-out;
    user-select: none;
    display: flex;

    label {
      display: flex;
      margin: 0px;
      padding: 0px 10px;
      color: inherit;
      align-items: center;
      gap: 0.5rem;
    }

    input {
      /*margin: 2px 3px 0 0;*/
    }

    .name {
    }

    &:hover,
    &:focus {
      background: var(--background-highlight-color);
    }

    &.enabled {
      color: #fff;
      background: var(--blue-dark);
    }
  }
}
