.totp-enrollment {
  .qr-code {
    width: 20rem;
    height: 20rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 5px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

ul.recovery-codes {
  list-style-type: none;
  padding: 0rem;
  margin: 2rem 0rem;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
