<%
  @page_title = "Page not found"
%>

<p>
  The page you were looking for could not be found. It might have been removed,
  had its name changed, or is temporarily unavailable.
  We apologize for the inconvenience.
</p>

<%= render partial: 'errors/generic_help' %>
