<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= "Complete failure" %></title>
	<style type="text/css" media="screen">
		body {
			background: #000;
			margin: 100px;
			color: #fff;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 24px;
		}
		a, a:visited {
			color: #f66;
			text-decoration: underline;
		}
		a:hover {
			color: #f00;
		}
		#content {
			width: 652px;
			margin: 0 auto;
			text-align: center;
		}
		.header {
			margin-bottom: 100px;
		}
		p {
			margin: 1em 40px;
		}
	</style>
</head>
<body>
	<div id="content">
		<div class="header"><%= image_tag 'Guru_meditation.gif', :plugin => 'pages' %></div>
		<p>The error handler has errors. Please <a href="http://support.manualdesign.no/">contact support</a>.</p>
	</content>
</body>
</html>
