<%
  @page_title = "Oh dear..."
%>
<p>
  Something went terribly wrong. Of course, this shouldn't happen, and we'd really appreciate it if you
  could notify us at <a href="mailto:support@anyone.no">support@anyone.no</a>.
</p>
