<%
	page_title       "Partials"
	page_description "Viewing partials"
	if PagesCore.config( :localizations )
		page_description_links "In " + @available_languages.map{ |l| link_to_unless_current( Language.name_for_code( l ), hash_for_admin_partials_path( :language => l ) ) }.join( link_separator )
	end
%>
<% content_for :sidebar do %>
<% end %>

<table class="list">
	<tr>
		<th colspan="2">Element</th>
	</tr>
	<% @partials.each do |partial| %>
		<tr>
			<td><strong><%= partial.human_name %></strong></td>
			<td>
				<div id="partial-<%= partial.id %>">
					<div class="actions">
						<%= link_to "Edit", edit_admin_partial_path(@language, partial) %>
					</div>
					<%= partial.to_s %>
				</div>
			</td>
		</tr>
	<% end %>
</table>