<% if policy(user).policies? %>
  <h2>
    Access control
  </h2>
  <p>
    <% if user != current_user %>
      <%= f.check_box :activated %> The user account is activated<br />
    <% end %>
    <% Role.roles.each do |role| %>
      <%= check_box_tag "user[role_names][]", role.name, user.has_role?(role.name.to_sym) %>
      <%= role.description %><br>
    <% end %>
  </p>
<% end %>
