<% content_for :page_title, "Users" %>
<% content_for :page_description, "Viewing active users" %>

<% content_for :sidebar do %>
  <% if policy(User).new? %>
    <h2>Invite</h2>
    <p>
      <%= link_to "Invite someone to Pages", new_admin_invite_path %>
    </p>
  <% end %>
  <h2>Deactivated users</h2>
  <p>
    <% if User.deactivated.count == 0 %>
      There are no deactivated user accounts.</p>
    <% elsif User.deactivated.count == 1 %>
      There is <%= link_to "one deactivated user", deactivated_admin_users_path %>.
    <% else %>
      There are <%= link_to "#{User.deactivated.count} deactivated users", deactivated_admin_users_path %>.
    <% end %>
  </p>
<% end %>


<%= render partial: "list", locals: { users: @users } %>
