<%
  page_title       "Users"
  page_description "Viewing active users"
%>


<% content_for :sidebar do %>
  <h2>Invite</h2>
  <p>
    <%= link_to "Invite someone to Pages", new_admin_user_path %>
  </p>
  <h2>Deactivated users</h2>
  <p>
    <% if User.deactivated_count == 0 %>
      There are no deactivated user accounts.</p>
    <% elsif User.deactivated_count == 1 %>
      There is <%= link_to "one deactivated user", deactivated_admin_users_path %>.
    <% else %>
      There are <%= link_to "#{User.deactivated_count} deactivated users", deactivated_admin_users_path %>.
    <% end %>
  </p>
<% end %>


<%= render :partial => 'list', :locals => {:users => @users} %>
