<%
  self.page_title = "Sign in"
  self.page_description = "Please enter your email address and password to sign in"
  add_body_class "login"
-%>

<% content_for :sidebar do %>
  <h2>Please note</h2>
  <p>
    Please contact support if you experience problems logging in or using Pages.
  </p>
<% end %>


<%= login_form(success_url: admin_default_path, login_url: login_admin_users_path) %>
