<%
  self.page_title = "Log in &raquo; Forgotten password"
  self.page_description = "Creating a new password"
  add_body_class = "login"
%>
<div class="content">
<p>
  Did you lose your password? Don't worry, it happens.
</p>
<p>
  Simply enter your <strong>email address</strong> below, and we'll email you a new password.
</p>
</div>
<%= form_tag(reset_password_admin_users_path, method: :post) do %>
  <p>
    <%= text_field_tag :username, '', size: 32 %>
    <%= submit_tag "Find" %>
  </p>
</form>
