<% 
	page_title "Message delivery" 
	page_description "Your message has been queued"
%>

<div class="content">
	<p>Your message has been queued, and will be delivered to the following recipients:</p>
	<p><strong><%= @recipients.join( ", " ) %></strong></p>
</div>